body h3 {
  text-align: center;
}


div.background {

  background-image: url('files acc/ecoFriendly.png'), ;
  background-position: center;
  /* it will repeat and keep it at center */
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  width: 100vw;


  display: grid;
  justify-items: center;
  align-items: center;


}

div.transbox {

  margin: 30px;
  background-color: #a7ced3cd;
  border: 1px solid black;
  /* opacity: 0.6; */
  width: 70%;
  color: black;
  filter: hue-rotate(2);
  filter: opacity(10);
}

div.transbox p {
  margin: 5%;
  /* font-weight: lighter; */
  color: #000000;
}



ul,
ol {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
  color: blue;
  font-size: larger;
  font-style: italic;
  font-weight: bolder;
}



div.shanayabazaarvideo {
  margin: 3% 0%;
  display: contents;

}

div.shanayabazaarvideo h5 {
  margin-top: 2%;
  color: rgb(132, 99, 250);


}

div.shanayabazaarvideo video {
  display: block;
  width: 90vw;
  /* max-width: 700px; */
  margin: auto;
  padding: 3% 0%;

}
