
body {

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    text-decoration-color: aqua;


}

.helpPoster {
    max-height: 75vh;
    min-width: 100vw;
}

.scrollsection {
    width: 100vw;
    overflow-x: hidden;
    /* position: absolute; */
}

#requestAnimationFrameId {}


a p {
    font-size: 20px;
   
    text-decoration: none;

}

p.simpleHeighlight {
  
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
    color: blue;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
   
}

textarea {
    width: 100%;
    height: 40;
    font-weight: bolder;
   
    font-size: larger;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;

    text-overflow: scroll;

}

.content {
    /* position: fixed; */

    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
   
}