
@media screen and (max-width: 450px) {

         .controllers {
            flex-wrap: wrap;
           gap: 10vh;
         }
}

        body {

            background-image: linear-gradient(to bottom, #0c1db8 0%, #7046aa 15%, #ff7882 35%, #e790c0 45%, #e5d7f7 71%, #fcc5e4 80%, #6272e9 100%);

            display: block;
            align-self: center;
            overflow-x: hidden;
            min-height: 100vh;
            /* width: max-content; */
            width: 100vw;
            overflow-x: auto;
           max-height: max-content;

        }

        button{
            background-color: #0c830c;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0,0, 0.2);
            transition: all 0.3s ease-in-out;

        }

        #canvasGame {


            border: 1px solid #d3d3d3;
            background-image: url("files acc/nature2.png");

            /* background-image: url("background nature2.png"); */
            background-repeat: no-repeat;
            /* background-size: cover; */
            background-size: cover;
           

        }

        .price {
            /* color: green; */
            border: solid black 1px;
            max-width: fit-content;
            border-radius: 50px;
            padding: 5vh;
            display: block;
            align-self: center;
            justify-self: center;
            margin-top: 5vh;
            font-family: 'Arial', sans-serif;
           
        }

        .scorePoint {
            /* color: aqua; */
            color: blue;
            font-weight: bolder;
            width: 80px;
            display: inline-block;
            text-align: end;
            padding-right: 10px;

        }


        .cashPrice {
            color: red;
            font-weight: bolder;
            display: inline-block;
            padding-left: 10px;


        }


        .controllers {
            display: flex;
            /* justify-self: center; */
            align-items: center;
            /* we want space between flex items*/
            justify-content: space-between;
            max-width: 700px;

           
           





        }
