@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine');


@media screen and (max-width:450px) {

    /* styles for small screens */
    body {
        font-size: 12px;
    /* overflow: wrap; */
    width: 100vw;
height: 100vh;


    }

    .container {
        display: grid;
        /* overflow: scroll; */
        height: 100%;
        /* position: relative; */
    }

    .form-container {
        max-width: 100vw;
        max-height: 100%;
        font-size: 12px;
        /* min-height: 100vh; */
        height: 100%;
       
    }

  


    .profilePhotoSet{
        position: static;
        height: fit-content;
        
    }

    

    .container.active .sign-up {
      
        transform: translateX(0%);
        /* we will check later */

       
    }

}


* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  
}

body {
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 100vw;
    height: 100vh;
}

.historyButton {
    /* display: grid; */
    display: block;
    width: 100vw;
   

}

button:hover,
a:hover {
    opacity: 0.8;
}

.container {
    /* whole body div class while part is container part and green part is toogle part and both part is in container*/
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
    position: relative;
    
    width: 768px;
    /* width: 80%; */
    max-width: 100%;
    /* 100%width for the body */
    min-height: 600px;
    /* min-height: 650px; */
    /* min-height: 90%; */
    max-height: 100vh;


}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    /* color: #333; default we are using black*/
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
   
    background-color: rgb(11, 95, 33);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
   
}

.container button.hidden {
    /* not neccessary to write is div step */
    background-color: transparent;
    border-color: #fff;
}

.container form {
   
    background-color: #fff;
    display: flex;

    flex-wrap: wrap;


    max-height: 100%;
    /* flex-shrink: ; */

 overflow: scroll;


 scrollbar-width: none;
    align-items: center;
    justify-content: center;

    /* padding: 0 40px; */
    padding: 0 20px;
   
    height: 100%;
}

.sign-in-style{
    flex-direction: column;
}


.container form h1::selection {
    /* works */
    color: red;
    background: yellow;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
   
    height: 100%;
    transition: all 0.6s ease-in-out;
    /* overflow: wrap; */
  
}



.rememberBlock {

  
    display: flex;
    flex-direction: row;
    

    align-items: center;
  
  position:relative;
}

.rememberCheck {
    position: absolute;
  
    left: -58%;
  
}

#rememberMe{
    position: relative;
}



.sign-in {
    left: 0;
    width: 50%;
    /* for letting the sign up toggle in right */
    z-index: 2;
}

.container.active .sign-in {
   
    transform: translateX(100%);
}



.sign-up {
    left: 0;
    /* behind the sign in page but 0 opacity */
    width: 50%;
    opacity: 0;
  
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
   
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;

}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}



.social-icons {
    margin: 10px 0;
   
}

.profileBackground {
  
    height: 70px;
    width: 70px;
    border: solid black 2px;
    border-radius: 60%;
    /* filter: contrast(150%); */
    /* filter: blur(3px) contrast(150%); */
    filter: blur(2px) contrast(150%);
    /* to apply multiple filter without comma, otherwise only forst is considered */

    background-image: url('files acc/profile.png');
    background-size: contain;
    background-repeat: no-repeat;


}

.profileBackground:hover {
    /* hover effect */
    filter: grayscale(70%) blur(1px);

    /* filter: blur(50%); */
    /* filter: hue-rotate(50 deg); */
    /* filter: opacity(70%); */



}

.profileImage {
    margin: 10px 0 0 0;
    height: 70px;
    width: 70px;

    /* now we want to set the profile image here after login and setting the image */
}





.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}








/* toggle part of green parts */


.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    /* this toggle container is in div hence it translate x with respect to div outer body container */
    /* present at right at start for sign up or register */
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* for green color to be applied only specific box */
    transition: all 0.6s ease-in-out;
    border-radius: 20px;
    z-index: 10;
    /* at start when sign in at left is focused */
}

.container.active .toggle-container {
   
    transform: translateX(-100%);
   

}




.toggle {
    /* at start when not active container then green part is in toggle container  */
    background-color: rgba(45, 201, 14, 0.952);
    position: relative;


    width: 200%;
   
    left: -100%;
  
  height: 100%;

    /* as we have hidden 100 % out of left side */
    transform: translateX(0);
    /* no need of translateX o  */
    transition: all 0.6s ease-in-out;

}



.container.active .toggle {
    transform: translateX(50%);

   
}





/* at start toggle panel is container of green left and right part content  */
.toggle-panel {
    position: absolute;
    /* with respect to div fixed */
    width: 50%;
    /* content of grren parts */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;


    font-family: 'Tangerine', serif;
   
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel p {
    color: #fff;
}

.toggle-panel button.hidden {
    background-color: rgb(11, 95, 33);
}



.toggle-left {
    transform: translateX(-200%);
   
}

.container.active .toggle-left {
    transform: translateX(0);
    /* default it is set at left side by -100% left in toggle container and toggle is set absolute position means at left */
}

.toggle-right {
    right: 0;
    transform: translateX(0);
    /* after fixing at right , no translate will take place */
}

