/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f4f4f4;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.rating {
    display: flex;
    gap: 2rem;
}

.rating-average, .rating-progress {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.star-outer {
    position: relative;
    font-size: 2rem;
    color: gray;
}

.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: gold;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.bar {
    height: 100%;
    background-color: gold;
    border-radius: 5px;
}

.rating-progress-value p {
    text-align: center;
}

.star {
    color: gold;
    font-size: 1.5rem;
}
