body h3{
    text-align: center;
}


div.background {
    /* background: url(ecoFriendly.png) contain; not works */
    /* background: url(ecoFriendly.png) repeat; works */
    background-image: url(ecoFriendly.png);
    background-position: center;
    /* it will repeat and keep it at center */
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    width: 100vw;
   
    /* display: flex; keeps only text at center not the div container */
    /* align-items: center; */
    /* justify-items: center; */
    /* text-align: center;keeps only text at center not the div container (same result as above) */
    display: grid;
    justify-items: center;
    align-items: center;
  
    /* place-items: center; */
    /* this grid will keep the content at center when justify self is also in transbox  or justify item is there in this grid */
   
  }
  
  div.transbox {
    /* display: flex; */
    /* display: grid; */
    /* justify-items: center; */
    /* gives all text at center */
    /* justify-self: center; */
    /* align-self: center; */
    margin: 30px;
    background-color: #a7ced3cd;
    border: 1px solid black;
    opacity: 0.6;
    width: 70%;
    color: black;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }



  ul , ol{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
    color: blue;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
  }