body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  /* width: 95vw; */

}


#requestAnimationFrameId {
  background-color: aqua;
  display: inline-block;
  border-radius: 40%;
  padding: 1vh;
  font-weight: bolder;
  font-family: cursive;
  font-size: larger;
  position: fixed;
  position: relative;
}

.lowerpopedUp {
  display: flex;
  position: fixed;
  bottom: 5vh;
  min-width: 30vw;
  max-width: 80vw;
  padding: 1vh;
  min-height: 5vh;
  background-color: black;
  color: white;
  z-index: 10;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}