@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;


  padding:25px;
  min-height: 100vh;
  /* background: linear-gradient(30deg, #7669e7 60%, #ae2781 40.1%); */
  background-image: linear-gradient(0deg, #db772b 0%, #224cd5 35%, #d56fa4 100%);
}

.container form{
  padding:20px;
  width:700px;
  /* this width helpful for stting it max width  */
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  /* all data except button proceed to checkout */
  display: flex;
  /* flex for columns used */
  flex-wrap: wrap;
  /* for mobile view it will overflow hence it will be wrapped , second column will be dropped down */
  gap:15px;

}

.container form .row .col{
  flex:1 1 250px;
  /* 250px is size of input container */
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  /* span holds this labels */
  margin-bottom: 10px;
  display: block;
  /* for next flex item to be down ,hence block used as display */
}

.container form .row .col .inputBox input{
  width: 100%;
  /* 100% here for 250px which was set in flex , if width 100% not used then it will extend beyon one cloumn width and next column will be wraps down */
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
   /* for State and zip code and both in one div for width 250px and now distribute width among themselves within*/
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}



/* now we need to apply css on payment method which is still not covered above like image */

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
  /* cards are unselectable here , we just want card no. and zip code, not the mode of payment  */
}



/* applying css on button */
.container form a .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form a .submit-btn:hover{
  background: #049641;
  transform: scale(1.01);
}