#offline1 {
    /* position: fixed; */
    /* width: 100vw; */
    /* top: 0; */
    /* z-index: 5; */
  
}


div.mahalootdesclaimer div.mahalootscrollingsection{
    /* animation: normal; */
}




.loading {
    

    /* text-align: center; */
    /* background-size: cover; */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.24ways.org%2F2009%2F15%2Fassets%2Fimg%2Fspinner.png&f=1&nofb=1');
    /* background-size: 100px 100px; */
    background-repeat: no-repeat;
    /* background-position: center; */

    /* we need to set this image at center and also a cloud error image interface , put this loading class on loading time only , we will do later on  */
}