*{
    margin: 0px;
    padding: 0%;
}

body{
    text-align: center;
    /* display: grid; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
    background-image: linear-gradient(180deg, #9995de 0%, #2626c7 35%, #4ddb4d 100%);
font-size: larger;
font-weight: bolder;
}

button{
    /* height: 40px; */
}