/* @import url('https://fonts.googleapis.com/css2?family=Tangerine');   */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');  */

body {

    background-image: url(help.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;

    /* font-style: italic; */
    /* font-family: Tangerine; */
    /* font-family: 'Montserrat', sans-serif; */

    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    /* text-shadow: stroke($stroke, $color); */
    /* text-shadow: stroke; */
    /* text-shadow: 0 0 2px #000;  */
    /* text-shadow: 0 0 5px black; */
    /* stroke: black; */
    /* stroke-width: 5px; */
    text-decoration-color: aqua;
    /* text-rendering: geometricPrecision; */

    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
    /* text-shadow: 0 0 5px white ; */


    /* color: black; */
    /* font-size: 50px; */
    /* text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
 */



    /* color: white; */
    /* font-size: 50px; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: black; */
}

a p{
    font-size: 20px;
    background-color: gray;
    color: white;
    text-decoration: none;

}

p.simpleHeighlight{
    /* text-shadow: 0 0 3px white, 0 0 5px #9e9ecf; */
    /* -webkit-text-stroke-width: 1px;  */
    /* -webkit-text-stroke-color: black; */
    /* color: white; */
    /* color: aqua; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
    color: blue;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    /* -webkit-text-stroke-width: 1px;  */
    /* -webkit-text-stroke-color: black; */
}

textarea{
    width: 100%;
    height: 40;
    font-weight: bolder;
    /* background-color: greenyellow; */
    font-size: larger;
    padding: 5px;
    font-family:'Montserrat', sans-serif;
   
    text-overflow: scroll;
}

/*
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url(help.png);
    width: 1200px;
    height: 800px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
    */
  .content {
    /* position: fixed; */
   
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
  }

