@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); 
/* this will be applied as it is set in the * whole body*/

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap'); */
/* works*/
/* it is same as below one  */
@import url('https://fonts.googleapis.com/css2?family=Tangerine');  
/* works*/

/* import in css is necessary for font link , mentioning in index link and using in css fill will not work */

/*  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine"> */ 

          

*{
/* p{ */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* better hence we are using this */
}

body{
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

button:hover, a:hover {
    opacity: 0.8;
    
    
  }

.container{  
    /* whole body div class while part is container part and green part is toogle part and both part is in container*/
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    /* width: 80%; */
    max-width: 100%;
    min-height: 480px;
    /* min-height: 90%; */
    
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    /* color: #333; default we are using black*/ 
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
/* button{ */
    /* background-color: rgb(34, 93, 231); */
    background-color:rgb(11, 95, 33);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    /* Note: cursor value */
}

.container button.hidden{ 
    /* not neccessary to write is div step */
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
/* flex-wrap: nowrap; */
    align-items: center;
    justify-content: center;
   
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border:none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0; 
    /* according to div container ir is 0 from top  */
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.rememberBlock{
   
    display: flex;
    flex-direction: row;
    align-items: center;

}

.rememberCheck{
position: absolute;
left: -25%;
}

.sign-in{
    left: 0;
    width: 50%;
    /* for letting the sign up toggle in right */
    z-index: 2;
}

.container.active .sign-in{
    /* active class is added with script , active is to register .
     when register (sign up) is clicked then then container will be active  and then sign in is moved right by translateX and 0 opacity and 0 zindex or container by translateX. Sign in took 50% width and translate 1005 means it 's whole width that is 50 % , it moves right as if it has left it's own position. */
    transform: translateX(100%);
}



.sign-up{
    left: 0;
    /* behind the sign in page but 0 opacity */
    width: 50%;
    opacity: 0;
    /* opacity 0 show that sign up is present at the back but not visible, it will be vissible only when sign in translate X to 100% */
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    /* tanslate shows it's path at every update  */
    /* when register or sign up button is clicked then  */
    opacity: 1;
    z-index: 5;
    animation: move 0.6s; 

    /* move is neccessary as it was at left in starting , it needs to show animation , infect it's  work even without moving but , not clear about which will be seen at the time of translate , hence both will be seen */
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}



.social-icons{
    margin: 10px 0; 
    /* gap between two icons */
    /* now we wnt to set the profile image here after login  */
}

.profileBackground{
    /* background image */
    /* background-image: url('https://i.imgur.com/6yGsz4B.jpg'); */
    height: 70px;
    width: 70px;
    border: solid black 2px;
    border-radius: 60%;
    filter: contrast(150%);
    background-image: url(profile.png);
    background-size: contain;
    background-repeat: no-repeat;
 
   
}

.profileBackground:hover{
    /* hover effect */
    filter: grayscale(70%);
    filter: blur(50%);
   filter: hue-rotate(50 deg);
   /* filter: opacity(70%); */

   

}
.profileImage{
    margin: 10px 0 0 0; 
    height: 70px;
    width: 70px;

     /* now we want to set the profile image here after login and setting the image */
}





.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}








/* toggle part of green parts */


.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    /* this toggle container is in div hence it translate x with respect to div outer body container */
    /* present at right at start for sign up or register */
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 20px;
    z-index: 10;
    /* at start when sign in at left is focused */
}

.container.active .toggle-container{
    /* if register is clicked then , signup green part will be no more required and hence  will move out of left(out of div container) , here we are only designing the container */
    transform: translateX(-100%);
    /* to get out of div container  */
    /* border-radius: 20px; no need */
    
}



/* toggle class is used to set the background of whole div using relative left -100% but this green backround is seen only when white background is not present above it , white has more preference as z index more and when white is not need it is set opacity 0 */
.toggle{
    /* at start when not active container then green part is in toggle container  */
    background-color: rgba(45, 201, 14, 0.952);
    position: relative;
    height: 100%;
      /* width: 200%; */
      width: 200%; 
      /* width of toggle container for covering the wole div as position is set relative then it will take 100% only for toggle container and hence extended*/
    /* color: #fff; */
    /* position: relative; */
    /* relative position will take % according to toggle container */
    /* left: -100%; */
    left: -100%;
    /* background color will be spread from left side */
    /*at start present out of left side */
    height: 100%;
  
    /* as we have hidden 100 % out of left side */
    transform: translateX(0);
    /* no need of translateX o  */
    transition: all 0.6s ease-in-out;

}



.container.active .toggle{
    transform: translateX(50%);

    /* translate x is 50 and it is wrt to the size of green toggle , hence percentage is used */
/* it was set out at left hence again called */

    /* translate will take place according to div percentage , here from -100% left part will move to right with 50% translate */

    /* it is used to let the sign in green part to be ssen at left , if not used the sign up page will simply toggle to left not the sign in green will appear*/

    /* how it will be ssen in left side  */
}





/* at start toggle panel is container of green left and right part content  */
.toggle-panel{
    position: absolute;
    /* with respect to div fixed */
    width: 50%;
    /* content of grren parts */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;


    font-family: 'Tangerine', serif; 
    /* this font family will be applied to whole toggle panel but it can be overwritten in it's element call */
    /* for this font add  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine"> */

          /* color: #fff;  */
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel p{
    color: #fff; 
}
.toggle-panel button.hidden{
background-color:rgb(11, 95, 33);
}



.toggle-left{
    transform: translateX(-200%);
    /* according to the width of the toggle container , to get out of left side at start . It is only for toggle content not the toggle container background  */
}

.container.active .toggle-left{
    transform: translateX(0);
    /* default it is set at left side by -100% left in toggle container and toggle is set absolute position means at left */
}

.toggle-right{
    right: 0;
    transform: translateX(0);
    /* after fixing at right , no translate will take place */
}






/* from all above we come at this that sign in and sign up is always present one above the other but at left "sign in" is opacity 1 and at right "sign up" is with 1 opacity and "sign up" is traslated it's position to right by 100%*/


/* Toggle part conclusion is that we set toggle container and toggle panel width to 50% but toggle class width is 200% and toggle class position is relative to toggle container hence 200% used to set the whole background green and position left is set at start of left part and sign in green is written on it but it will be seen only when active and at that moment sign up is   */




/* need to consider green part later */