*{
    padding: 4px;
    margin: 4px;
}
body {
   padding: 1vw;
   margin: 1vh;
   text-align: center;
   /* background-image: linear-gradient(60deg, #2f2b7d 0%, #090979 35%, #00d4ff 100%); */
   text-decoration: solid;
   /* color: white; */
   /* background-image: linear-gradient(0deg, #6a679d 0%, #090979 35%, #6fc4d5 100%); */



 /* background-color: rgb(181, 175, 175); */
}


img{
    width: 30vw;
}
a{
    /* color: rgb(115, 232, 160); */
}
h3 a img{
    display: inline-block;
    width: 10vw;
  margin-left: 2%;
  /* color: aquamarine; */
  

}



table,th,td{
    border: 1px solid rgb(223, 199, 199);
 text-align: center;
 border-collapse: collapse;
 /* background-color: gainsboro; */
 color: black;
 color: white;
 font-weight: 200;


}

th{
    /* background-color: rgb(170, 163, 169); */
    /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0.9) 25%, rgba(255, 0, 0, 0.1) 50%, rgba(255, 0, 0, 0.9) 75%); */
    filter: contrast(10);
  
}

table{
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */

    /* background-image: linear-gradient(angle, color-stop1, color-stop2); */
    /* background-image: linear-gradient(180deg, rgb(124, 45, 161), rgb(58, 109, 96)); */
    /* color: white; */

    background-image: linear-gradient(to top, #434343 40%, black 95%);
    margin-top: 5vh;
}

h3 a{
 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}