@media screen and (max-width:425px){
    body{
        /* background-color: greenyellow; */

    }
    *{
        margin: 0;padding: 0;
    }

    nav{
        /* display: flex; */
        height: 100px;
        /* align-items: center;  */
        /* flex-direction: column;  Gives beautiful effect also*/
        /* justify-content: flex-start; */
    }

    nav ul li{
        /* justify-content: center; */
        /* height: 34px; */
        align-items: start;
        display: flex;
        padding-bottom: 30%;
        padding-left: 16%;
    }
    
    
    .emoji{
        visibility: hidden;

    }
    
    .search{
        /* margin: 12px 16px; */
        /* flex-direction: column; */
        transform: translate(-68%);
        display: flex;
        /* flex-direction: row-reverse
        flex-grow: 2%; */
        padding-top: 8%;
        /* padding-right: 10%; */ 
        margin-left: 3px;

    }
    .search input{
        height: 30px;
        width: 200px;
        
    
    }
    .scroll{
        height: 8vh;
        background: black;
        color: azure;
        z-index: 2;
        position: absolute;
        margin: 17% 0%;
        /* overscroll-behavior: ;
        z-index: 2;  search on overscroll*/

        /* align-self: center; */
        /* transform: translate(91vw); */
        
     }
     footer{
        color: blue;
        background-color: azure;
        height: 40px;
        font-size: 20px;
        display: flex; 
        justify-content: center; 
        align-items: center;
        font-family: 'Oswald', sans-serif; 
        /* background-color: var(--main-bg-color);  */
    
      } 
    
}